<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  <title>Joe Karasek's Portfolio</title>
  <meta name='keywords' content='dev development web code coding junior portland oregon'/>
  <meta name='description' content='Joe Karasek is a Portland Oregon based junior web-developer.'/>
  <meta name="author" content="Joe Karasek"/>


  <!--Materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

</head>
<body>